It is general representation of data(.) in templatement and passing it as a argument to function

{{.}}
{{fd .}}
{{fsq .}}
{{fsqrt .}}

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

Now using pipelines

{{.}}
{{. | fd | fsq }}
{{. | fd | fsq | fsqrt }}