apiVersion: v1
kind: Pod
metadata:
  name: topopod-2
#  labels:
#    app: foo
spec:
  containers:
    - name: img1
      image: registry.k8s.io/pause:2.0
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: zone
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          app: foo
