# Example -1
{{range .}}
	{{.}}
{{end}}


# Example -2
{{if .}}
     {{.}}
{{end}}


# Example -3
{{range .}}
    {{if .First}}
    	 {{.First}}
    {{end}}
{{end}}


# Example -4
{{range .}}
	{{ if and .First .Age}}
	      First-Name -> {{.First}}
	      Age -> {{.Age}}
	 {{end}}
{{end}}